body{
    font-size: larger;
    background-color: #CFE1E8;
}
.main_Container{
    width:40%;
   
    margin: auto;
    margin-top:  10rem;
}
.main_Container h3{
    font-style: italic;
}
.Result_Container{
    font-weight: bolder;
}
.main_Container label{
display:block;
}
.main_Container input{
    margin-top:  1.438rem; 
    width: 60%;
   height: 20px;
   border:  3px solid brown;
 border-radius:0.2rem ;
}
.main_Container input:focus{
    box-shadow: 0px 0px 2px 2px brown;
   
}

button{
    width: 30% ;
    height: 20%;
    margin: 5%; 
    background-color:#a881af ;  
    padding:15px;  
    border-radius:0.2rem ;
    color: white;
}
.Btn_Active:hover{
    background-color: #F5BDFF;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgb(0,0,0);
    color: black;
}
@media (max-width: 768px) {
    button {
      width:50%;
      margin: 3%;
    }
    .main_Container{
        width: 80%;
    }
    .main_Container input{
        margin-bottom: 3%;
    }
  }
  
